/*main tiles 1*/
.stat-content {
    background            : none repeat scroll 0 0 #fff;
    border                : 1px solid #ddd;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    float                 : left;
    margin-bottom         : 25px;
    overflow              : hidden;
    position              : relative;
    text-align            : center;
    width                 : 100%;
}
.stat-content > h4 {
    color       : #777;
    float       : left;
    font-size   : 13px;
    line-height : 10px;
    margin      : 20px 0 13px;
    text-align  : center;
    width       : 100%;
}
.stat-content > span {
    color         : #777;
    float         : left;
    font-size     : 30px;
    font-weight   : 600;
    line-height   : 24px;
    margin-bottom : 10px;
    text-align    : center;
    width         : 100%;
}
.stat-content > i {
    color                 : #FFF;
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    border-radius         : 50%;
    display               : table;
    float                 : none;
    font-size             : 14px;
    height                : 29px;
    line-height           : 29px;
    margin                : 0 auto;
    position              : relative;
    text-align            : center;
    width                 : 29px;
}
.stat-content > h5 {
    background  : none repeat scroll 0 0 #f5f5f5;
    border-top  : 1px solid #ecedf0;
    color       : #777;
    float       : left;
    font-size   : 14px;
    font-weight : normal;
    margin      : -15px 0 0;
    padding     : 22px 0 17px;
    width       : 100%;
}
.tag-wrapper {
    height   : 68px;
    overflow : hidden;
    position : absolute;
    right    : -2px;
    top      : -2px;
    width    : 85px;
}
.tag-design {
    font              : bold 12px Open Sans;
    padding           : 3px 0;
    position          : relative;
    text-align        : center;
    top               : 15px;
    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
    width             : 120px;
}
/*main tiles 2*/
.card-box {
    padding               : 21px 16px 30px;
    border                : 1px solid rgba(54, 64, 74, 0.12);
    -webkit-border-radius : 3px;
    border-radius         : 3px;
    -moz-border-radius    : 5px;
    background-clip       : padding-box;
    margin-bottom         : 25px;
    background-color      : #ffffff;
    color                 : #777;
}
.widget-bg-color-icon .bg-icon {
    height                : 80px;
    width                 : 80px;
    text-align            : center;
    -webkit-border-radius : 50%;
    border-radius         : 50%;
    -moz-border-radius    : 50%;
    background-clip       : padding-box;
}
.widget-bg-color-icon .bg-icon i {
    font-size   : 34px;
    line-height : 65px;
}
.widget-bg-color-icon h3 {
    margin-top : 9px;
}
.widget-bg-color-icon p {
    margin : 0;
}
/*follow widget*/
.panel.follow {
    border : 1px solid #DDD;
}
.follow .m-0 {
    margin : 0;
}
.follow .stats {
    padding          : 10px 0;
    color            : #777;
    background-color : #F5F5F5;
}
.follow .stats span {
    font-size : 16px;
}
.follow .shot {
    width  : 100%;
    height : 260px;
}
.follow .com-like {
    padding          : 14px 0;
    font-size        : 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight      : 700;
    background-color : #ff7a7a;
    cursor           : pointer;
}
/*profile widget*/
.profile-widget {
    height : 370px;
    border : 1px solid #ccc;
}
.profile-widget .cover-bg {
    background : url("../../img/pages/follow.jpeg");
    height     : 100px;
}
.profile-widget .profile-img img {
    position      : absolute;
    top           : 75px;
    left          : 33px;
    width         : 85px;
    border        : 4px solid #FF7A7A;
    border-radius : 50px;
}
.profile-widget .profile-name {
    height           : 67px;
    color            : #FFF;
    background-color : #ff7a7a;
}
.profile-widget .profile-name .name-data {
    padding-left : 117px;
    padding-top  : 1px;
}
.profile-widget .profile-description {
    padding : 20px;
    color   : #777;
}
.profile-widget .profile-description button {
    width   : 81px;
    padding : 4px 12px;
}
/*artical widget*/
.widget-article {
    border : 1px solid #ccc;
}
.widget-article h4 {
    font-weight  : bold;
    color        : #777;
    padding-left : 15px;
}
.widget-article ul {
    padding-left : 10px;
}
.widget-article ul li {
    padding : 15px 3px 20px 3px;
}
.widget-article img {
    width         : 51px;
    height        : 51px;
    border-radius : 50%;
}
.widget-article .article {
    padding-left : 68px;
    padding-top  : 10px;
}
.widget-article .article-head {
    font-weight : bold;
    color       : #555;
}
/*profile2 widget*/
.profile2-widget {
    border  : 1px solid #ccc;
    padding : 20px 15px;
    color   : #777;
}
.profile2-widget .profile_pic img {
    width : 114px;
}
.profile2-widget .description i {
    font-size : 16px;
    padding   : 5px;

}
/*remainder widgets*/
.reminder-widget {
    background : url("../../img/pages/sunset.jpg");
    height     : 280px;
    color      : #FFF;
}
.reminder-widget .content {
    width                      : 70%;
    height                     : 100.7%;
    background-color           : #27A0D7;
    padding-top                : 9px;
    border-top-right-radius    : 4px;
    border-bottom-right-radius : 4px;
    margin                     : -1px -1px 0 0;
}
.reminder-widget .content i {
    padding   : 5px;
    font-size : 16px;
    color     : #FFF;
}
.reminder-widget p {
    margin-top :10px;
}
.reminder-widget .content .temprature {
    position                  : absolute;
    right                     : 0;
    bottom                    : 43px;
    background-color          : rgba(255, 255, 255, .29);
    height                    : 27px;
    width                     : 40%;
    border-top-left-radius    : 13px;
    border-bottom-left-radius : 13px;
    padding                   : 3px 10px;
    font-size                 : 15px;
}
/*weather widget*/
.weather-widget {
    background : url("../../img/pages/weather.jpg");
    height     : 317px;
}
.weather-widget .details {
    width       : 80%;
    margin-left : 10%;
    margin-top  : 50px;
    color       : #636363;
}
.weather-widget .details .location {
    background-color : rgba(255, 255, 255, .65);
    height           : 45px;
    margin-bottom    : 4px;
    font-size        : 22px;
    padding          : 6px;
}
.weather-widget .details .time-date {
    background-color : rgba(255, 255, 255, .65);
    height           : 45px;
    margin-bottom    : 4px;
    font-size        : 21px;
    padding          : 8px 15px;
}
.weather-widget .details .time-date::after {
    content       : "";
    position      : absolute;
    top           : 145px;
    width         : 70px;
    left          : 0;
    right         : 0;
    margin-left   : auto;
    margin-right  : auto;
    height        : 4px;
    background    : rgba(255, 255, 255, .65);
    border-bottom : 1px solid transparent;
    border-top    : 1px solid transparent;
}
.weather-widget .details .cloud {
    position      : absolute;
    top           : 113px;
    left          : 0;
    right         : 0;
    margin-left   : auto;
    margin-right  : auto;
    border-radius : 50%;
    height        : 70px;
    width         : 70px;
    padding       : 8px;
    border        : 4px solid #8A8C7F;
}
.weather-widget .details .cloud img {
    width :45px;
}
.weather-widget .details .min-max {
    background-color : rgba(255, 255, 255, .65);
    width            : 49%;
    height           : 95px;
    font-size        : 22px;
    padding-top      : 14px;
}
.weather-widget .details .min-max span small {
    font-size : 13px;
}
.weather-widget .details .temperature {
    background-color : rgba(255, 255, 255, .65);
    margin-left      : 2%;
    width            : 49%;
    height           : 95px;
    font-size        : 36px;
    padding-top      : 21px;
}
.weather-widget .details .temperature::before {
    content       : "";
    position      : absolute;
    top           : 149px;
    width         : 1.5%;
    left          : 0;
    right         : 0;
    margin-left   : auto;
    margin-right  : auto;
    height        : 30px;
    background    : rgba(255, 255, 255, .65);
    border-bottom : 1px solid transparent;
    border-top    : 1px solid transparent;
}
/*date widget*/
.date_widget {
    background      : url("../../img/pages/street.jpg");
    background-size : cover;
    height          : 155px;
    color           : #fff;
    position        : relative;
    padding         : 15px 15px 10px 15px;
}
.date_widget .add-icon {
    margin-top : -17px;
}
.date_widget hr {
    border           : 0;
    height           : 1px;
    position         : relative;
    margin           : 10px 0;
    background-image : linear-gradient(to right, rgba(255, 255, 255, 0.15), #fff, rgba(255, 255, 255, 0.15))
}
.date_widget a i {
    color     : #aaa;
    font-size : 15px;
}
.date_widget:before {
    content    : '';
    position   : absolute;
    width      : 100%;
    height     : 100%;
    top        : 0;
    left       : 0;
    opacity    : 0.8;
    background : linear-gradient(to left, #2B3566, #371D4C);
}
#time_update {
    font-size : 36px;
}
#update_date, #update_day {
    font-weight : 600;
}
/*socila widgets*/
.social-card{
    border: none;
}
.socials-widget .google {
    border        : 1px solid #ccc;
    padding-left:0 ;
    border-bottom : 3px solid #FF7A7A;
}
.socials-widget .facebook {
    border-top    : 1px solid #ccc;
    border-bottom : 3px solid #2283BF;
}
.socials-widget .twitter {
    border        : 1px solid #ccc;
    padding-right: 0;
    border-bottom : 3px solid #7EC4E7;
}
.socials-widget h4 {
    color       : #777;
    margin-top  : 10px;
    font-weight : bold;
}
.socials-widget h5 {
    color     : #777;
    font-size : 15px;
}
.socials-widget span {
    font-size : 34px;
    color     : #777;
}
@media screen and (max-width : 767px) {
    .socials-widget .facebook {
        border        : 1px solid #ccc;
        border-bottom : 3px solid #2283BF;
    }
}
@media screen and (max-width : 1199px) {
    .profile2-widget {
        padding : 48px 15px;
        height  : 373px;
    }
}
