/* Fonts Imported from Google */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';
/*   Core: General style
----------------------------*/

body {
    font-family : 'Open Sans', sans-serif;
    height      : 100%;
    padding     : 5% 0;
}
#sign-in, #sign-up {
    background : #fff;
}
.signup-form, .signin-form {
    background      : url("../../img/pages/street.jpg");
    background-size : cover;
    border-radius   : 14px;
    padding-top     : 15px;
    padding-bottom  : 15px;
    color           : #fff;
}
.signup-form:before, .signin-form:before {
    content       : '';
    position      : absolute;
    width         : 100%;
    height        : 100%;
    top           : 0;
    left          : 0;
    border-radius : 14px;
/*opacity       : 0.8;*/
    background    : linear-gradient(to left, #e4e4e8, #e4e4e8);
}
.panel-header h2 {
    margin-top    : 10px;
    margin-bottom : 17px;
}
.signup-form .page-name, .signin-form .page-name {
    margin-left : 14px;
    font-size   : 19px;
    font-weight : 700;
}
.signup-form .page-name.active,
.signin-form .page-name.active {
    border-bottom : 3px solid #3197D6;
    border-radius : 5px;
}
.sign_validator {
    margin-top : 20px;
}
.signup-form label, .signin-form label {
    margin-left : 14px;
    color       : rgba(10, 10, 10, 0.8);
}
.forgot_pw, .forgot_pw:hover, .forgot_pw:focus {
    color : rgba(10, 10, 10, 0.8);
}
.checkbox label.checkbox_label {
    color : #fff;
}
.form-control {
    color            : #364653;
    background-color : rgba(255, 255, 255, .2);
    border           : 1px solid rgba(255, 255, 255, .1);
    border-radius    : 20px;
}
input[type="submit"].btn-block.btn-primary,
input[type="reset"].btn-block.btn-primary,
input[type="button"].btn-block.btn-primary {
    border-color  : #a2c037;
    background    : #a2c037;
    border-radius : 20px;
}
.icheckbox_minimal-blue {
    background-position : -20px 0;
}
a:hover, a:focus {
    text-decoration : none;
    color           : #a2c037;
}
.has-error .help-block, .has-error .control-label,
.has-error .radio, .has-error .checkbox,
.has-error .radio-inline, .has-error .checkbox-inline {
    color : #FF7A7A;
}
.has-error .form-control, .has-error .form-control:focus {
    border-color : #FF7A7A;
    box-shadow   : inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control, .has-success .form-control:focus {
    border-color : #75D1A3;
    box-shadow   : inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.radio label,
.checkbox label {
    padding-left : 0;
}
.has-error.checkbox label, .has-success.checkbox label {
    color : #FFF;
}
hr.separator {
    border           : 0;
    height           : 1px;
    position         : relative;
    margin           : 10px 0;
    background-image : linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(113, 49, 49, 0.7), rgba(255, 255, 255, 0.15))
}
.social ul{
    list-style: none;
    margin-top:10px;
    float: left;
}
.login_fb,.login_fb:hover,.login_fb:focus{
    background-color:#4867aa;
    color:#fff;
}
.login_google,.login_google:hover,.login_google:focus{
    background-color:#ea4335;
    color:#fff;
}
.login_linkedin,.login_linkedin:hover,.login_linkedin:focus{
    background-color:#00a0dc;
    color:#fff;
}
.signup{
    margin-bottom: 15px;
}
.signin{
    margin-top:15px;
}
/******************* help-block error message ***********/
.help-block{
    font-size: 14px;
}
.form-control:focus{
    color: #212529;
    border-color: #66afe9;
    outline: 0;
    background-color: rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.form-control::-webkit-input-placeholder { color: #999; }
@media(min-width:320px) and (max-width: 325px){

    .special_icheck .icheckbox_minimal-blue{
        width: 25px;
    }
}
